<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a car</title>
</head>
<body>
    <form>
        Make <input type="text">
        Model <input type="text">
        <input type="submit" value="Add a car">
      </form>
</body>
</html>